/*
  ==================================================
  Styles du HEADER, Wrapper, Logo, Navigation principale et
  des réseaux sociaux
  ==================================================
*/


/* Header principal du site */

header {
  height           : 258px;
  background-color : #212121;
}

/* Bloc container pour la globalité du site */

.wrapper {
  position  : relative;
  max-width : 960px;
  height    : auto;
  margin    : 0 auto;
  padding   : 1px 0;
  /*
  Positionner en relatif afin de servir d'ancetre pour les élements positionners
  en absolute
  */

  /* Prendra une largeure maximale de 960px, il fait donc 960px de large */
  /*
  Utiliser pour le contexte block, sinon les margin des enfants se répercuterons
  sur le parent (ici wrapper)
  */

  /* background-color: rgb(194, 29, 105); */
}

/* Logo principal du site, centrer dans le header */

.logo {
  display : block;
  width   : 153px;
  height  : 153px;
  margin  : 25px auto;
  /* Mis en display: block afin de pouvoir utiliser le margin: auto; */
}

/*
  Il sagit de la navigation principale du site, c'est surtout pour le côté
  sémantique, car j'utilise le ul pour la nav
*/


header nav {
  height    : auto;
  font-size : 1.8em;
}

/* La navigation à proprement parler, c'est la balise ul */

.nav-principale {
  padding    : 0;
  text-align : center;
  list-style : none;
  /* suppresion des paddings par défaut */
}

/* Les éléments de la navigation */

.nav-principale li {
  display     : inline-block;
  margin-left : 25px;
  /*
  positionnement des éléments de la navigation en inline-block afin de pouvoir
  les aligner (inline) et ajouter des marges (block)
  */

}

/* Liens cliquables de la navigation */

.nav-principale a {
  color           : #bdbdbd;
  text-decoration : none;
}

/* Styles au survol des liens de la navigation principale */

.nav-principale a:hover {
  color       : #00796b;
  font-weight : bold;
}

/*
  Bloc des réseaux sociaux (ici c'est un ul, j'ai ajouté une classe afin de le
  différencier du ul de la nav principale)
*/


.reseaux-sociaux {
  position : absolute;
  top      : 25px;
  right    : 0;
  /*
  J'ai utiliser un positionnement en absolute afin de faciliter le
  positionnement, il se positionne par rapport à son premier ancetre qu'il
  rencontre en position absolute ou relatif (ici le wrapper)
  */

}

/* Les éléments de liste contenant les différents liens vers les réseaux sociaux */

.reseaux-sociaux li {
  display        : inline-block;
  margin-right   : 25px;
  vertical-align : middle;
}

/*
  ==================================================
  FIN
  ==================================================
*/


/*
  ==================================================
  Styles du bloc de l'épisode mis en avant sur la
  page d'accueil.
  ==================================================
*/


/* Bloc principal contenant la vidéo mise en avant */

.home-mis-en-avant {
  height           : auto;
  background-color : #bdbdbd;
}

/* Bloc de la vidéo à proprement parler */

.bloc-video-mea {
  height : 515px;
}

/* A metre dans module.css */

.btn-play {
  position  : absolute;
  top       : 50%;
  left      : 50%;
  width     : 111px;
  height    : 111px;
  transform : translate(-50%, -50%);
}

.btn-play > img {
  cursor : pointer;
}

/*
  ==================================================
  FIN
  ==================================================
*/


/*
  ==================================================
  Bloc de navigation vers toutes les émissions présent
  sur le site. (à mettre dans module ?)
  ==================================================
*/


.all-emissions {
  height           : 60px;
  background-color : #00796b;
}

.all-emissions ul {
  margin  : auto;
  padding : 0;
  /* background-color: blue; */
}

.all-emissions li {
  display        : inline-block;
  margin-left    : 30px;
  vertical-align : middle;
}

.all-emissions a {
  color           : #fff;
  text-decoration : none;
  font-size       : 1.6em;
  line-height     : 60px;
}

/* A ajouter dans module */

.all-emissions a:hover {
  color       : #ffc107;
  font-weight : bold;
}

/*
  ==================================================
  FIN
  ==================================================
*/


/*
  ==================================================
  Section des derniers épisodes publiés sur le site
  ==================================================
*/


.last-episode {
  height           : 716px;
  background-color : #212121;
}

.last-episode__top {
  height : 480px;
}

.last-episode__bot {
  height : 236px;
}

.last-episode__left {
  display : inline-block;
  width   : 480px;
  height  : 480px;
}

.last-episode__right {
  display : inline-block;
  width   : 480px;
  height  : 480px;
}

.last-episode__bloc {
  display : inline-block;
  width   : 240px;
  height  : 236px;
}

/*
  ==================================================
  FIN
  ==================================================
*/


/*
  ==================================================
  Section "à propos" de Amr Khaled
  ==================================================
*/


.a-propos {
  height          : 685px;
  background      : url(../img/a-propos.jpg) no-repeat center;
  background-size : cover;
}

.a-propos__bloc-text {
  height     : 685px;
  color      : #fff;
  overflow   : hidden;
  background : url(../img/a-propos-bloc-text.png) no-repeat;
}

.a-propos__bloc-text h1 {
  margin     : 116px 0 47px 25px;
  text-align : left;
  font-size  : 2.8em;
}

.a-propos__bloc-text p {
  width      : 430px;
  margin     : 0 25px;
  text-align : justify;
  font-size  : 1.6em;
}

/*
  ==================================================
  FIN
  ==================================================
*/


/*
  ==================================================
  Bloc de Citation
  ==================================================
*/


.citation {
  height          : 255px;
  overflow        : hidden;
  background      : url(../img/citation.jpg) no-repeat center;
  background-size : cover;
}

.citation  p {
  width            : 600px;
  margin           : 5% auto;
  color            : #fff;
  background-color : rgba(0, 0, 0, .5);
  text-align       : center;
  font-size        : 2.4em;
}

/*
  ==================================================
  FIN
  ==================================================
*/


/*
  ==================================================
  Bloc de Un Sourire Espoir page d'Accueil
  ==================================================
*/


.bloc-un-sourire-espoir {
  height           : 1282px;
  overflow         : hidden;
  background-color : #fff;
}

.bloc-contain-episodes {
  width            : 960px;
  height           : 480px;
  margin-top       : 49px;
  margin-bottom    : 0;
  background-color : rgb(221, 72, 40);
}

.btn-voir-plus {
  width            : 162px;
  height           : 49px;
  margin           : 42px auto 0 auto;
  color            : #fff;
  background-color : #1e1e1e;
  text-align       : center;
  font-size        : 1.8em;
  line-height      : 49px;
}

.bloc-episode {
  display          : inline-block;
  width            : 240px;
  height           : 240px;
  background-color : #1e1e1e;
}

.bloc-un-sourire-espoir  a {
  text-decoration : none;
}

/*
  ==================================================
  FIN
  ==================================================
*/


/*
  ==================================================
  Bloc de toutes les émissions présente sur le site
  ==================================================
*/


.all-emission-home {
  height           : auto;
  background-color : #009688;
}

.emissions {
  height   : 680px;
  margin   : 86px 0;
  overflow : hidden;
}

/*
  ==================================================
  FIN
  ==================================================
*/


/*
  ==================================================
  Styles du FOOTER
  ==================================================
*/


footer {
  height           : auto;
  background-color : #1e1e1e;
}

footer .realisation-site {
  text-align : center;
  font-size  : 1.6em;
}

footer .realisation-site > a {
  color           : #00796b;
  text-decoration : none;
}

.twitter-tweets {
  display          : inline-block;
  width            : 300px;
  height           : 500px;
  margin-left      : 12px;
  background-color : rgb(4, 99, 120);
}

/*
  ==================================================
  SECTION POUR AVANCER RAPIDEMENT SUR LE PROJET
  ==================================================
*/


/*
  Bouton plus avec l'id #btn-plus qui sert à afficher plus d'émission sur la
  page d'accueil
*/


.btn-plus {
  position       : relative;
  vertical-align : middle;
}

/* Bloc avec les autres émissions */

.bae {
  z-index          : 999;
  display          : none;
  position         : absolute;
  width            : 270px;
  height           : 180px;
  margin-left      : -30px;
  border-radius    : 3px;
  background-color : rgb(33, 30, 30);
}

/*
  Classe qui permait de supprimer le display: none; de .bae et donc d'afficher
  le bloc avec les autres émissions
*/


.displayBlock {
  display : block;
}

.displayNone {
  display: none;
}

.video {
  height: 512px;
  background-color: rgb(59, 246, 109);
  display: none;
}

.videoOn {
  display: block;
}

/*
  ==================================================
  STYLE DE LA PAGE DE VIDEO
  ==================================================
*/


/* Simplement le titre de la vidéo */

.titre-video {
  color       : #fff;
  text-align  : center;
  font-size   : 2em;
  line-height : 1.4em;
}

/* STYLES QUI ENGLOBE LE CORPS DU TEXTE DE LA PAGE VIDEO */

/*
  SECTION COMPLETE QUI REGROUPE L'ENSEMBLE DES DIVS CONTENANT LE TEXTE DE LA
  VIDEO, LE PARTAGE RESEAUX SOCIAUX ET LES LANGUES
*/


.corps-texte-video {
  width            : auto;
  height           : auto;
  background-color : #212121;
}

/* BLOC CONTAINER SERVANT A CENTRER LES RS, LANGUES, ET TEXTE DE LA VIDEO */

.corps-texte--contain {
  width  : auto;
  height : auto;
}

/* LE PARTAGE SUR LES RESEAUX SOCIAUX */

.share-social-media {
  display     : inline-block;
  width       : auto;
  height      : auto;
  margin-top  : 52px;
  margin-left : 46px;
  /* background-color: rgb(44, 194, 135); */
}

.langues {
  display     : inline-block;
  width       : 233px;
  height      : 66px;
  margin-left : 86px;
}

.langues > a {
  margin-left : 15px;
}

.langues,
.share-social-media {
  vertical-align : middle;
}

/* CONTIENT LE TEXTE DE LA VIDEO */

.corps-texte {
  width            : 810px;
  height           : auto;
  margin           : 60px auto;
  padding          : 10px;
  color            : #c1c1c1;
  background-color : rgb(41, 41, 41);
  font-size        : 1.8em;
}

.prophete {
  padding          : 0 2px 0 2px;
  color            : #fff;
  background-color : #294456;
  font-weight      : normal;
}
